/*primary color #41b2e2 */
/*primary color dark 1 #3b9dc7 */
/*primary color dark 2 #3386aa */

/*secondary color #f21d5b*/
/*secondary color dark 1 #e31b55*/
/*secondary color dark 2 #d0184d*/
/*footer black #2d2d2d*/

/*general */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #222;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #222;
}

section {
  padding: 45px 0;
}
button {
  cursor: pointer;
}
h1 .button-heart {
  font-size: 30px;
}

img {
   image-rendering: optimizeQuality;

}

.section-gray {
  background-color: #f1f1f1;
}


p {
  font-style: normal;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: -.003em;
  text-align: center;
  font-weight: 300;
}

.primary-button {
  background-color: #41b2e2;
  color: #fff;
  -webkit-box-shadow: 0 2px 2px rgba(34, 34, 34, 0.31);
          box-shadow: 0 2px 2px rgba(34, 34, 34, 0.31);
  padding: 15px;
  border-radius: 5%;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.primary-button:hover {
  background-color: #3b9dc7;
}

.primary-button:active {
  background-color: #3386aa;
  -webkit-box-shadow: 0 2px 2px rgba(34, 34, 34, 0.21);
          box-shadow: 0 2px 2px rgba(34, 34, 34, 0.21);

}


a:hover,
a:active {

}

/*nav*/
.sticky-nav  {
  position: fixed;
  height: 55px;
  padding-top: 5px;
  width: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0 2px 2px #efefef;
  box-shadow: 0 2px 2px #efefef;
}



.sticky-nav li {
  color: #222;
}

nav {
  position: absolute;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  z-index: 99999;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.row {
  margin: 0 auto;
  max-width: 1140px
}

header .row {
  width: 100%;
}

.nav-ul {
  margin-top: 10px;
}

ul {
  margin: 0;
  float: right;
  list-style: none;
}

li {
  margin-left: 30px;
  display: inline-block;
  font-size: 17px;
}


/*hero*/

/*secondary color #f21d5b*/
/*secondary color dark 1 #e31b55*/
/*secondary color dark 2 #d0184d*/



.slider-buttons {
  position: absolute;
    color: #fff;
    top: 75%;
    left: 50%;
    margin: 0;
    padding: 0;
    z-index: 1000;
    text-align: left;
    -webkit-transform: translateX(-50%) translateY(calc(-50%));
            transform: translateX(-50%) translateY(calc(-50%));
}

.slider-buttons .nav-dot {
  display: inline-block;
  background: #fff;
  height: 13px;
  width: 13px;
  border-radius: 100%;
  margin: 3px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px rgba(34, 34, 34, 0.91);
          box-shadow: 0 2px 2px rgba(34, 34, 34, 0.91);
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}

.slider-buttons .nav-dot.active {
  background: #c61749;
}

.slider-buttons .nav-dot:active {
  background: #d1194e
}


.slider-buttons .nav-dot:hover {
  background: #f21d5b
}
.hero-button {
  background-color: #f21d5b;
  color: rgba(249, 247, 247, 0.83);
  padding: 10px;
  -webkit-box-shadow: 0 2px 2px rgba(34, 34, 34, 0.31);
          box-shadow: 0 2px 2px rgba(34, 34, 34, 0.31);
  border-radius: 2%;
  width: 100px;
}
.hero-button:hover {
  background-color: #e31b55;
}

.hero-button:active {
  background-color: #d0184d;
  -webkit-box-shadow: 0 2px 2px rgba(34, 34, 34, 0.21);
          box-shadow: 0 2px 2px rgba(34, 34, 34, 0.21);
}

.hero-text-container {
  position: absolute;
  color: #fff;
  top: 43%;
  left: 60%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1000;
  text-align: left;
  -webkit-transform: translateX(-50%) translateY(calc(-50% - .5px));
  transform: translateX(-50%) translateY(calc(-50% - .5px));
}

.hero-text-container p,
.hero-text-container a {
  color: rgba(249, 247, 247, 0.83);
  text-align: left;
  padding-left: 45px;
}

.hero-text-container h1 {
  color: rgba(255, 255, 255, 0.88);
  text-align: left;
  padding-left: 30px;
}

.team-hero,
.section-hero-1,
.section-hero-2,
.section-hero-3 {
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
  border-radius: 3px;
  display: table;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.18);
          box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.18);

}

/*can't tell if elegant or hack*/
/*basically the divs are hiddene until the matching section hero comes around */

.section-hero-1-text h1,
.section-hero-1-text p,
.section-hero-1-text a,
.section-hero-2-text h1,
.section-hero-2-text p,
.section-hero-2-text a,
.section-hero-3-text h1,
.section-hero-3-text p,
.section-hero-3-text a {
  opacity: 0;
  display: none;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}


.section-hero-1 .section-hero-1-text h1,
.section-hero-1 .section-hero-1-text p,
.section-hero-1 .section-hero-1-text a,
.section-hero-2 .section-hero-2-text h1,
.section-hero-2 .section-hero-2-text p,
.section-hero-2 .section-hero-2-text a,
.section-hero-3 .section-hero-3-text h1,
.section-hero-3 .section-hero-3-text p,
.section-hero-3 .section-hero-3-text a {
  opacity: 1;
  display: block;
}

 /*.hero-text-container  .section-hero-1-text p,
 .hero-text-container .section-hero-1-text h1,
 .hero-text-container .section-hero-1-text a,
.section-hero-2-text p,
.section-hero-2-text h1,
.section-hero-2-text a,
.section-hero-3-text p,
.section-hero-3-text h1,
.section-hero-3-text a {
  opacity: 0;
  transition: opacity 0.2s;
  display: none;
}*/

/*.section-hero-1 .hero-text-container .section-hero-1-text p,
.section-hero-1 .hero-text-container .section-hero-1-text h1,
.section-hero-1 .hero-text-container .section-hero-1-text a,
.section-hero-2 .section-hero-2-text p,
.section-hero-2 .section-hero-2-text h1,
.section-hero-2 .section-hero-2-text a,
.section-hero-3 .section-hero-3-text p,
.section-hero-3 .section-hero-3-text h1
.section-hero-3 .section-hero-3-text a, {
  opacity: 1;
  display: block;
}*/

.section-hero-1 {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.7)),to(rgba(0,0,0,.6))),url(img/hero-pic-1.jpg);
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)),url(img/hero-pic-1.jpg)
}

.section-hero-2 {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.7)),to(rgba(0,0,0,.6))),url(img/hero-pic-2.jpg);
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)),url(img/hero-pic-2.jpg)
}

.section-hero-3 {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,.7)),to(rgba(0,0,0,.6))),url(img/hero-pic-3.jpg);
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.6)),url(img/hero-pic-3.jpg);
}

/*mainbody*/

.section-students img,
.section-nonprofits img {
  -webkit-box-shadow: 0 2px 2px rgba(34, 34, 34, 0.31);
          box-shadow: 0 2px 2px rgba(34, 34, 34, 0.31);
}

.section-students p,
.section-nonprofits p {
  text-align: left;
}

/*footer*/

footer{
  background-color: #2d2d2d;
  height: 208px !important;
  -webkit-box-shadow: inset 0 10px 10px -5px #0d1116;
  box-shadow: inset 0 10px 10px -5px #0d1116;
}

footer p {
  text-align: center;
  padding-left: 12px;
  margin-top: 88px;
  font-weight: bold;
  color: #fff;
}

.facebook-div {
  margin-top: 38px;
  text-align: right;
}
/*single page */
.single-page-text-box {
  position: absolute;
  color: #222;
  top: 22%;
  left: 50%;
  margin: 0;
  padding: 0;
  z-index: 1000;
  text-align: left;
  -webkit-transform: translateX(-50%) translateY(calc(-50% - .5px));
  transform: translateX(-50%) translateY(calc(-50% - .5px));
}

.single-page-text-box h1 {
  color: #fff;
}
/*page team*/

.team-hero {
  background: #003973;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#E5E5BE), to(#003973));
  background: linear-gradient(to left, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 250px;
}

.team-card {
  width: 100%;
  background-color: #fff;
  margin-top: 30px;
  margin: 0 auto;
  overflow: hidden;
}

.team-card .officer-position {
  color: rgba(34, 34, 34, 0.9);
}

.team-card h2,
.team-card p,
.team-card .officer-position {
  padding: 5px;
}

.team-card .officer-position  {
  text-align: center;
  font-style: italic;
}

.team-card h2 {
  font-size: 28px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 300;
}

.team-card img {
  min-width: 100%;
}

div .team-card {
  margin-top: 20px;
}

.header-wrap {
  background: rgba(34, 34, 34, 0.86);
}

.index-nav {
  margin-top: 15px;
}
.index-nav ul{
  margin-top: 10px !important;
}

.team-pic {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow: hidden;
  height: 280px;
}

.team-links {
  text-align: center;
  font-size: 24px
}
.team-links i:first-of-type{
  margin-right: 5px;
}
.team-links i:last-of-type{
  margin-left: 5px;
}

a {
  color: #fff;
}

a:hover {
  color: #f21d5b;
}

.nav-ul li a{
  color: #50b8e5;
}
.nav-ul li a:hover {
  color: #f21d5b;
}

.index-pic {
  margin-top: 15px;
  text-align: center;
}

.index-pic img {
}

.index-pic-small {
  display: none;
}

.google-form {
  width: 100%;
}

.no-header-page {
  margin-top: 80px;
}
.no-header-page h1{
  text-align: center;
  font-weight: bold;
}

.coming-soon {
  /* width: 1140px; */
height: 625px;
background-image: -webkit-gradient(linear-gradient(rgba(65, 180, 228, .7),rgba(255, 66, 121, .9)));
background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(65, 180, 228, .7)),to(rgba(255, 66, 121, .9)));
background-image: linear-gradient(rgba(65, 180, 228, .7),rgba(255, 66, 121, .9));
padding: 0;
margin-right: 0px;
margin: 0 !important;
}

.coming-soon h1{
  position: absolute;
  top: 37%;
  left: 24%;
  color: #fff;
  text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.fa-linkedin-square {
  color: #0077b5;
}
.fa.fa-times {
  position: relative;
  display: none ;
  float: right;
  right: 10px;
  top: 10px;
  font-size: 30px !important;
}

.fa-bars {
  float: right;
  font-size: 30px !important;
  display: none !important;

}


.drop-down-nav {
  position: fixed;
  display: none;
  width: 0%;
  height: 100%;
  background: #fff;
  z-index: 99999999;
  right: 0;
  color: #222 !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.drop-down-nav p {
  margin-bottom: 0;
  padding-top: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: bold;

}

.drop-down-nav p:hover {
  background-color: #f21d5b;
  color: #fff;
  font-weight: bold,
}

.drop-down-nav p:hover a{
  color: #fff;
  font-weight: bold;
}
.drop-down-nav p:hover i{
  color: #fff;
  font-weight: bold;
}
.drop-down-nav p i{
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.drop-down-nav p:first-of-type {
  margin-top: 45px;
}


.drop-down-nav p {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.12);
}


.drop-down-nav a {
  color: #222 ;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 24px;
}

.button-heart {
  padding-left: 2px;
  color: #f21d5b;
}

.about-page {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
  height: 618px;
}

.about-page h3 {
  font-weight: bold;
  padding: 0 8%;
  text-align: center;
}

@media (max-width: 1210px) {
  .logo-main-page,
  .logo-non-main-page {
    margin-top: 7px;
    width: 300px;
  }
  .hero-text-container {
    left: 50%;
  }

  .hero-text-container p,
  .hero-text-container a {
    text-align: center;
    padding-left: 0px;
  }

  .hero-text-container h1 {
    text-align: center;
    padding-left: 0px;
  }
}


@media (max-width: 1021px) {
  .section-students .large-6 ,
  .section-nonprofits .large-6.columns {
    padding: 30px 20% 0 20%!important;
  }
  .section-students .primary-button ,
  .section-nonprofits .primary-button {
  }

  .index-pic {
    padding-bottom: 30px;
  }

  .index-pic-small {
    padding-bottom: 30px;
    text-align: center;
    display: block;
  }

  .index-pic-students {
    display: none;
  }
}
@media (max-width: 1045px) {
  .logo-main-page,
  .logo-non-main-page {
    width: 250px;
  }
  .index-nav li,
  .nav-ul li{
    display: none;
  }

  .fa-bars {
    display: block !important
  }
}

@media (max-width: 930px) {
  .team-pic {
    height: 250px;
  }
}
@media (max-width: 840px) {
  .team-pic {
    height: 210px;
  }
}
@media (max-width: 800px) {
  .logo-non-main-page {
    margin-top: 10px;
  }
  .logo-main-page,
  .logo-non-main-page {
    width: 210px;
  }
}
@media (max-width: 720px) {
  .team-pic {
    height: 180px;
  }
}
@media (max-width: 640px) {
  h1 .button-heart {
    font-size: 20px;
  }

}
@media (max-width: 638px) {
  .team-pic {
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 560px) {
  .section-students .large-6 ,
  .section-nonprofits .large-6.columns {
    padding: 30px 8% 0 8%!important;
  }
  footer p {
    font-size: 14px;
  }
}


@media (max-width: 500px) {
  footer p {
    font-size: 11px;
  }
  .section-students .large-6 ,
  .section-nonprofits .large-6.columns {
    padding: 30px 3% 0 3%!important;
  }
  .section-students .primary-button  {
    margin-left: 39%;
    margin-top: 10px;
  }
  .section-students h1,
  .section-nonprofits h1 {
    font-weight: bold;
    font-size: 200%;
  }
  .section-nonprofits .primary-button  {
    margin-left: 35%;
    margin-top: 10px;
  }
}

@media (max-width: 370px) {
  footer p {
    font-size: 10px;
  }
  .section-students .primary-button  {
    margin-left: 38%;
  }

  .section-nonprofits .primary-button  {
    margin-left: 34%;
  }
}
@media (max-width: 360px) {
  .section-students .primary-button  {
    margin-left: 34%;
  }

  .section-nonprofits .primary-button  {
    margin-left: 30%;
  }
@media (max-width: 345px) {
  .section-students .primary-button  {
    margin-left: 32%;
  }

  .section-nonprofits .primary-button  {
    margin-left: 28%;
  }
}
@media (max-width: 300px) {
  .section-students .large-6 ,
  .section-nonprofits .large-6.columns {
    padding: 30px 1% 0 1%!important;
  }
  .section-students .large-6 ,
  .section-nonprofits .large-6.columns {
    padding: 30px 1% 0 1%!important;
  }
}
}
